*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#keyboard {
    position: absolute;
    bottom: 0;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
}


.letter {
    display: block;
    width: 100px;
}